In [190]:
import minna_functions as mf

In [191]:
import pandas as pd

In [192]:
import seaborn as sns

In [193]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()
import numpy as np

In [160]:
#list of dates in UNIX
c.execute('''select * from matches
             where Season == 2011
            ''')
df_matches = pd.DataFrame(c.fetchall())
dates = df_matches[3]
review = pd.to_datetime(pd.Series(dates))
df_matches[3] = review

dates_UNIX = list(df_matches[3].astype(np.int64) // 10**9)

In [170]:
import requests

secret_key = '6451ebd4d55c9eaa573cda7e94ad37d0' 
latitude = 52.5200
longitude = 13.4050
date = dates_UNIX
URL = 'https://api.darksky.net/forecast/{}/{},{},{}?exclude=currently,flags,hourly,minutely,alerts'.format(secret_key, latitude, longitude, date)

In [171]:
URL

'https://api.darksky.net/forecast/6451ebd4d55c9eaa573cda7e94ad37d0/52.52,13.405,1310688000?exclude=currently,flags,hourly,minutely,alerts'

In [172]:
resp = requests.get(URL)

In [173]:
resp.status_code

200

In [174]:
print (resp.text)

{"latitude":52.52,"longitude":13.405,"timezone":"Europe/Berlin","daily":{"data":[{"time":1310680800,"summary":"Mostly cloudy throughout the day.","icon":"partly-cloudy-day","sunriseTime":1310698952,"sunsetTime":1310757860,"moonPhase":0.52,"precipIntensity":0,"precipIntensityMax":0,"precipProbability":0,"temperatureHigh":63.81,"temperatureHighTime":1310742000,"temperatureLow":53.63,"temperatureLowTime":1310785200,"apparentTemperatureHigh":63.81,"apparentTemperatureHighTime":1310742000,"apparentTemperatureLow":53.63,"apparentTemperatureLowTime":1310785200,"dewPoint":50.11,"humidity":0.68,"windSpeed":14.1,"windGust":21,"windGustTime":1310742000,"windBearing":225,"cloudCover":0.73,"uvIndex":5,"uvIndexTime":1310727600,"visibility":6.212,"temperatureMin":56.63,"temperatureMinTime":1310698800,"temperatureMax":63.81,"temperatureMaxTime":1310742000,"apparentTemperatureMin":56.63,"apparentTemperatureMinTime":1310698800,"apparentTemperatureMax":63.81,"apparentTemperatureMaxTime":1310742000}]},"offset":2}

In [175]:
r = resp.json()

In [176]:
r.keys()

dict_keys(['latitude', 'longitude', 'timezone', 'daily', 'offset'])

In [187]:
r['daily']['data'][0]['precipIntensity']

0

In [179]:
[r['daily']['data'][i]['time'] for i in range(0,len(r['daily']['data']))]

[1310680800]

In [158]:
type(r['daily']['data'][0]['time'])

int

In [260]:
from datetime import datetime

In [263]:
class scrape_dark_sky():
    
    
    def __init__(self):
        self.latitude = 52.5200
        self.longitude = 13.4050
        self.secret_key = '6451ebd4d55c9eaa573cda7e94ad37d0'
    
    def unix_list(self):
        c.execute('''SELECT * FROM matches
                     WHERE Season == 2011
                     ''')
        df_matches = pd.DataFrame(c.fetchall())
        dates = df_matches[3]
        review = pd.to_datetime(pd.Series(dates))
        df_matches[3] = review
        dates_UNIX = list(df_matches[3].astype(np.int64) // 10**9)
        return dates_UNIX
    
    def get_rain(self):
        
        temp = {}
        
        for date in scrape_dark_sky().unix_list():
            date = date
            URL = 'https://api.darksky.net/forecast/{}/{},{},{}?exclude=currently,flags,hourly,minutely,alerts'.format(self.secret_key, self.latitude, self.longitude, date)
        
            resp = requests.get(URL)
            r = resp.json()
            rain_for_day = r['daily']['data'][0]['precipIntensity']
            
            if rain_for_day == 0:
                rain_for_day = False 
            else:
                rain_for_day = True
                
            date = datetime.utcfromtimestamp(date).strftime('%Y-%m-%d')

    
            temp.update({date : rain_for_day})
        
        return temp

In [264]:
scrape_dark_sky().get_rain()

{'2012-03-31': True,
 '2011-12-11': False,
 '2011-08-13': False,
 '2011-11-27': False,
 '2012-02-18': False}

In [ ]:
c.execute('''select * from matches
             where Season == 2011
            ''')
df_matches = pd.DataFrame(c.fetchall())
dates = df_matches[3]
review = pd.to_datetime(pd.Series(dates))
df_matches[3] = review

dates_UNIX = list(df_matches[3].astype(np.int64) // 10**9)

In [201]:
temp = {}
for date in dates_UNIX[:5]:
    
    secret_key = '6451ebd4d55c9eaa573cda7e94ad37d0' 
    latitude = 52.5200
    longitude = 13.4050
    date = date
    URL = 'https://api.darksky.net/forecast/{}/{},{},{}?exclude=currently,flags,hourly,minutely,alerts'.format(secret_key, latitude, longitude, date)
    
    
    resp = requests.get(URL)
    r = resp.json()
    rain_for_day = r['daily']['data'][0]['precipIntensity']
    if rain_for_day == 0:
        rain_for_day = False 
    else:
        rain_for_day = True
    
    temp.update({date : rain_for_day})

In [202]:
temp

{1333152000: True,
 1323561600: False,
 1313193600: False,
 1322352000: False,
 1329523200: False}

In [ ]:
#df
#date #raining

In [1]:
import minna_functions as mf

In [2]:
mf.scrape_dark_sky().get_rain()

{'2012-03-31': True,
 '2011-12-11': False,
 '2011-08-13': False,
 '2011-11-27': False,
 '2012-02-18': False}

In [7]:
import pandas as pd

In [9]:
df = pd.DataFrame(mf.total_wins(mf.total_teams()))

                    Total_Wins
Team_Name
Aachen                       6
Arsenal                     21
Aston Villa                  7
Augsburg                     8
Bayern Munich               23
Blackburn                    8
Bochum                      10
Bolton                      10
Braunschweig                10
Chelsea                     18
Cottbus                      8
Dortmund                    25
Dresden                     12
Duisburg                    10
Ein Frankfurt               20
Erzgebirge Aue               8
Everton                     15
FC Koln                      8
Fortuna Dusseldorf          16
Frankfurt FSV                7
Freiburg                    10
Fulham                      14
Greuther Furth              20
Hamburg                      8
Hannover                    12
Hansa Rostock                5
Hertha                       7
Hoffenheim                  10
Ingolstadt                   8
Kaiserslautern               4
Karlsruhe                    9
Leverkusen                  15
Liverpool                   14
M'gladbach                  17
Mainz                        9
Man City                    28
Man United                  28
Munich 1860                 17
Newcastle                   19
Norwich                     12
Nurnberg                    12
Paderborn                   17
QPR                         10
Schalke 04                  20
St Pauli                    18
Stoke                       11
Stuttgart                   15
Sunderland                  11
Swansea                     12
Tottenham                   20
Union Berlin                14
Werder Bremen               11
West Brom                   13
Wigan                       11
Wolfsburg                   13
Wolves                       5

In [13]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

In [25]:
c.execute('''SELECT Date, AwayTeam FROM MATCHES 
             WHERE FTR == 'A' 
             AND Season == 2011
             ''')
Away_Team_Wins = pd.DataFrame(c.fetchall())

In [29]:
Away_Team_Wins.head()

            0              1
0  2012-03-31  Bayern Munich
1  2011-12-11  Bayern Munich
2  2011-08-13  Bayern Munich
3  2012-04-21  Bayern Munich
4  2011-09-18  Bayern Munich

In [27]:
c.execute('''SELECT Date, HomeTeam FROM MATCHES 
             WHERE FTR == 'H' 
             AND Season == 2011''')
Home_Team_Wins = pd.DataFrame(c.fetchall())

In [28]:
Home_Team_Wins.head()

            0           1
0  2011-11-27       Mainz
1  2012-01-20  M'gladbach
2  2011-10-23    Hannover
3  2012-03-03  Leverkusen
4  2012-04-11    Dortmund

In [64]:
wins_and_date = Away_Team_Wins.append(Home_Team_Wins)
wins_and_date

              0              1
0    2012-03-31  Bayern Munich
1    2011-12-11  Bayern Munich
2    2011-08-13  Bayern Munich
3    2012-04-21  Bayern Munich
4    2011-09-18  Bayern Munich
5    2011-08-27  Bayern Munich
6    2012-03-17  Bayern Munich
7    2011-11-06  Bayern Munich
8    2012-05-05  Bayern Munich
9    2011-12-17       Dortmund
10   2012-02-18       Dortmund
11   2012-02-03       Dortmund
12   2012-01-22       Dortmund
13   2012-04-14       Dortmund
14   2012-03-25       Dortmund
15   2012-04-07       Dortmund
16   2011-11-19       Dortmund
17   2011-10-14       Dortmund
18   2011-09-24       Dortmund
19   2012-04-28       Dortmund
20   2012-03-02        Dresden
21   2011-10-02        Dresden
22   2012-03-30        Dresden
23   2011-10-22        Dresden
24   2011-11-25       Duisburg
25   2012-03-25       Duisburg
26   2011-11-07  Ein Frankfurt
27   2011-10-14  Ein Frankfurt
28   2011-08-21  Ein Frankfurt
29   2011-09-26  Ein Frankfurt
..          ...            ...
420  2012-04-08        Arsenal
421  2012-04-08     Man United
422  2012-04-09        Everton
423  2012-04-09      Newcastle
424  2012-04-11       Man City
425  2012-04-11            QPR
426  2012-04-11          Wigan
427  2012-04-14        Swansea
428  2012-04-14      West Brom
429  2012-04-15     Man United
430  2012-04-21      Blackburn
431  2012-04-21         Fulham
432  2012-04-21      Newcastle
433  2012-04-21            QPR
434  2012-04-28        Everton
435  2012-04-28          Wigan
436  2012-04-29        Chelsea
437  2012-04-29      Tottenham
438  2012-04-30       Man City
439  2012-05-06         Fulham
440  2012-05-06     Man United
441  2012-05-06            QPR
442  2012-05-08      Liverpool
443  2012-05-13        Chelsea
444  2012-05-13        Everton
445  2012-05-13       Man City
446  2012-05-13        Norwich
447  2012-05-13        Swansea
448  2012-05-13      Tottenham
449  2012-05-13          Wigan

[729 rows x 2 columns]

In [65]:
print(Home_Team_Wins.shape)
print(Away_Team_Wins.shape)
print(wins_and_date.shape)

(450, 2)
(279, 2)
(729, 2)

In [91]:
test_df = wins_and_date[:5]
test_df.set_index(0)

                        1
0
2012-03-31  Bayern Munich
2011-12-11  Bayern Munich
2011-08-13  Bayern Munich
2012-04-21  Bayern Munich
2011-09-18  Bayern Munich

In [66]:
test_dict = mf.scrape_dark_sky().get_rain()
test_dict

{'2012-03-31': True,
 '2011-12-11': False,
 '2011-08-13': False,
 '2011-11-27': False,
 '2012-02-18': False}

In [87]:
rain_df = pd.DataFrame.from_dict(test_dict, orient = 'index').reset_index()
rain_df

        index      0
0  2012-03-31   True
1  2011-12-11  False
2  2011-08-13  False
3  2011-11-27  False
4  2012-02-18  False

In [105]:
rain_wins = pd.merge(left=test_df, right = rain_df, left_on = 0, right_on = 'index')
rain_wins = rain_wins.drop(['key_0', '0_x'], axis = 1)
rain_wins.columns = ['team', 'date', 'rain?']
rain_wins

            team        date  rain?
0  Bayern Munich  2012-03-31   True
1  Bayern Munich  2011-12-11  False
2  Bayern Munich  2011-08-13  False

In [106]:
#away team wins
c.execute('''SELECT Date, AwayTeam FROM MATCHES 
             WHERE FTR == 'A' 
             AND Season == 2011
             ''')
Away_Team_Wins = pd.DataFrame(c.fetchall())


#home team wins 
c.execute('''SELECT Date, HomeTeam FROM MATCHES 
             WHERE FTR == 'H' 
             AND Season == 2011''')
Home_Team_Wins = pd.DataFrame(c.fetchall())


#combine tables
wins_and_date = Away_Team_Wins.append(Home_Team_Wins)
wins_and_date

#dictionary of date and if it rained
test_dict = mf.scrape_dark_sky().get_rain()


#turn it into DF
rain_df = pd.DataFrame.from_dict(test_dict, orient = 'index').reset_index()
#rain_df


#combine total wins and rain table 
rain_wins = pd.merge(left=test_df, right = rain_df, left_on = 0, right_on = 'index')
rain_wins = rain_wins.drop(['key_0', '0_x'], axis = 1)
rain_wins.columns = ['team', 'date', 'rain?']
rain_wins

            team        date  rain?
0  Bayern Munich  2012-03-31   True
1  Bayern Munich  2011-12-11  False
2  Bayern Munich  2011-08-13  False

In [ ]:
if rain_wins['rains?'] == False.